@import	"core/variables";
//body 
body {
	margin: 0;
	
}

//header
.header {
	background-color: #0271bc;
	width: 44px;
	height: 44px;
	position: fixed;
	left: 0px;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.hamburger__image {
	width: 16px;
	height: 14px;
	
}

//Hero
.hero {
	background-image: url(../images/cover.jpg) ;
    min-height: 100vh;
    background-repeat: no-repeat;
  	background-position: top;
	background-size: cover;
}
.hero__title .title {
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	font-family: RobotoSlab;
	font-size: 42px;
	font-weight: bold;
	line-height: 1.31;
	text-align: center;
	color: #ffffff;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	margin: 284px 15px 0 15px;
}
.hero__text .text {
	font-family: Roboto;
	font-size: 16px;
	height: 21px;
	text-align: center;
	color: #ffffff;
	padding-top: 10px;
	margin: 0;
}

.hero__image {
	display: flex;
    flex-direction: column;
    align-items: center;
}
//Hero buttom
.hero__buttom {
	width: 45px;
	height: 45px;
	border-radius: 22.5px;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 94px 134px 53px 136px;
}
//Main looking
.looking__container {
	//height: 376px;
	//width: 290px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 15px;
	@media all and (min-width: 768px){
		
		

	}
}
.looking__subtitle {
	height: 30px;
	font-family: Roboto;
	font-size: 14px;
	line-height: 2.14;
	color: #8ccbea;
	margin-top: 15px;
}
.looking__title .title {
	width: 290px;
	height: 60px;
	font-family: RobotoSlab;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.25;
	color: #000000;
	margin: 0;
}
.looking__text .text {
	width: 290px;
	height: 120px;
	font-family: Roboto;
	font-size: 18px;
	line-height: 1.67;
	color: $colorText;
}

.looking__buttom {
	width: 76px;
	height: 45px;
	border-radius: 22.5px;
	border: solid 2px #f26002;
	margin-bottom: 45px;
	text-align: center;
	display: flex;
	justify-content: center;
	cursor: pointer;
	
}
.looking__buttom .buttom {
	
	color: #f26002;
	text-align: center;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	line-height: 2.25;
	transition: background-color linear .7s, box-shadow ease .7s;
	&:hover {
		background-color: #304268;
		box-shadow: 0px 5px 10px rgba(black, .5);
    }	
}



//Main reasons
.reasons__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
}
@media all and (min-width: 768px) {
	.reasons__container {
	display: 100vh;
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	grid-template-rows: 20% 60% 20%;
	grid-template-areas: "reasons__title" "reasons__subtitle1" "reasons__subtitle2" "reasons__subtitle3" "reasons__buttom" "reasons__buttom";
	

.reasons__title {
	grid-column: 1/4;
}

.reasons__buttom {
	grid-column: 1/4;
	margin: auto;
	
}
}
}

.reasons__container p {
	width: 180px;
	height: 63px;
	text-align: center;
	font-family: Roboto;
	font-size: 18px;
	line-height: 1.67;
	text-align: center;
	color:#000000;
}
.reasons__container .subtitle {
	text-align: center;
	width: 184px;
	height: 30px;
	font-family: RobotoSlab;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.67;
	text-align: center;
	color: #000000;
}
.reasons__title .title {
	//width: 290px;
	//height: 30px;
	font-family: RobotoSlab;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.25;
	text-align: center;
	color: #000000;
}

.reasons__buttom {
	height: 45px;
	width: 184px;
	border-radius: 22.5px;
	background-color: #f26002;
	margin-bottom: 60px;
	text-align: center;
	display: flex;
	justify-content: center;
	cursor: pointer;
}
.buttom  {
	height: 45px;
	width: 184px;
	color: #ffffff;
	font-family: Roboto;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	line-height: 2.25;
	border-radius: 22.5px;
	transition: background-color linear .7s, box-shadow ease .7s;
	&:hover {
		background-color: #304268;
		box-shadow: 0px 5px 10px rgba(black, .5);
    }
}



//Footer
.footer__buttom {
	width: 45px;
	height: 45px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 22.5px;
	transform: translateY(-22px);
	cursor: pointer;
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #304268;
	height: 465px;

}

.footer__menu {
	text-decoration: none;
	width: 73px;
	height: 150px;
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	color: #ffffff;
	list-style: none;
	margin-bottom: 30px;
}
.footer__menu a {
	text-decoration: none;
	color: #ffffff;
}
.footer__menu__item {
	list-style: none;
	text-decoration: none;
	width: 73px;
	padding: 0;
	margin: 0;
}
.footer__mnenu__item +.footer__menu__item {
	width: 147px;
}
.copyright {
	font-family: Roboto;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.14;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	margin-bottom: 30px;
}
.footer__copyright {
	margin: 0;
}
.copyright__text {
	margin: 0;
}
.heart {
	color:#f26002;
}