//body 
body {
	margin: 0;
}

//Hero
.hero__image {
	background-image: url(../images/cover.jpg) ;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}