<footer class="footer">
    
    <div class="footer__wrapper">
        <div class="footer__buttom">
                <a href="index.html#hero"><img clas="buttom" src="assets/images/ico-arrow.svg" alt="buttom scroll down"></a>
            
        </div>
        <nav class="footer__menu">
            <ul class="footer__menu__item">
                <li>
                    <a href="">Articles</a>
                </li>
                <li> 
                    <a href="">Books</a>
                </li>
                <li>
                    <a href="">Events</a>
                </li>
                <li>
                    <a href="">Reasons</a>
                </li>
                <li>
                    <a href="">Tips</a>
                </li>
            </ul>
        </nav>
        <nav class="footer__menu">
            <ul class="footer__menu__item">
                <li>
                    <a href="">Twiter</a>
                </li>
                <li> 
                    <a href="">Instagram</a>
                </li>
                <li>
                    <a href="">Mastodon.social</a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            <p class="footer__copyright">©️2017</p>
            <p class="copyright__text">We <span class="heart">❤</span> components</p>
        </div>
    </div>
</footer>
        
