<section class="looking__container">
    <div class="subtitle">
        <h4 class id="looking__subtitle">Insomnia Tips</h4> 
    </div>
    <div class="looking__title">
        <h2 class="title">Looking Through A Window</h2> 
    </div>
    <div class="looking__text">
        <p class="text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
    </div>
    <div class="looking__buttom">
            <a class="buttom" href="" target="blank">Go</a>

    </div>
</section>