<section class="reasons">
        <h2 class="reasons__title">3 Reasons To Purchase</h2>
    <div class="reasons__container">
        
            
        
        <div class="reasons__subtitle1">
            <h3 class="subtitle">Ut sed metus</h3>
            <p class="text">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="reasons__subtitle2">
            <h3 class="subtitle">Curabitur ac erat</h3>
            <p class="text">mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="reasons__subtitle3">
            <h3 class="subtitle">Morbi dictum</h3>
            <p class="text">Aliquam in dolor et dolor tincidunt.</p>
        </div>
        
            <a class="reasons__buttom" href="" target="blank">More Reasons</a>

        
     </div>


</section>