//Main reasons
.reasons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	background: $colorBackground;
	@media all and (min-width: 768px) {
		padding: 0 39px;
	}
	@media all and (min-width: 1200px) {
		padding: 0 85px;
	}
}
.reasons__title {
	@include title-style();
    text-align: center;
	margin-top: 0px;
	padding-top: 30px;
	text-align: center;
	margin-bottom: 0;
	@media all and (min-width: 768px) {
		font-size: 26px;
		line-height: 1.73;
		margin-bottom: 45px;
	}
	@media all and (min-width: 1200px) {
		font-size: 32px;
		line-height: 1.41;
		padding-top: 60px;
    }
}
.reasons__container {
	box-sizing: border-box;
	margin: 0 55px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	@media all and (min-width: 768px) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr 1fr;
		grid-gap: 27px;
		margin: 0;
	}
	@media all and (min-width: 1200px) {
		grid-gap: 26px;
	}
}
.reasons__container .text {
    @include text();
	text-align: center;
	font-family: Roboto;
	text-align: center;
	color: $colorTitle;
	margin: 0;
	@media all and (min-width: 768px) {
		font-size: 20px;
		margin-top: 0;
	}
}
.reasons__container .subtitle {
	@include text();
	text-align: center;
	font-family: RobotoSlab;
	font-weight: bold;
	text-align: center;
	color: $colorTitle;
	margin-top: 45px;
	margin-bottom: 0;
	@media all and (min-width: 768px) {
		margin-top: 0;
		margin-bottom: 14px;
		font-size: 24px;
  	line-height: 1.25;
	}
}
.reasons__button {
	height: 45px;
	width: 184px;
	border-radius: 22.5px;
	background-color: $colorButton;
	margin-bottom: 60px;
	margin-top: 45px;
	text-align: center;
	display: flex;
	justify-content: center;
	cursor: pointer;
	color: $colorTextHeroFooter;
	font-family: Roboto;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	line-height: 2.25;
	align-self: center;
    transition: background-color linear .7s, box-shadow ease .7s;
	&:hover {
		background-color: $colorFooter;
		box-shadow: 0px 5px 10px rgba(black, .5);
		}
		@media all and (min-width: 768px) {
			margin: 30px auto 60px;
			width: 210px;
			grid-column: 2/3;
			grid-row: 2/3;
		}
		@media all and (min-width: 1200px) {
			width: 255px;
		}
}
.reasons__subtitle {
	margin-bottom: 45px;
	@media all and (min-width:768px) {
		width: 212px;
		margin: 0 auto;
	}
}
@media all and (min-width: 768px) {
	.reasons__subtitle1 {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.reasons__subtitle2 {
		grid-column: 2/3;
		grid-row: 1/2;
    }
	.reasons__subtitle3 {
		grid-column: 3/4;
		grid-row: 1/2;
	}
}
